<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address, "Адрес" %><br />
    <%= f.text_area :address, :size => '35x5'  %>
  </div>
  <div class="field">
    <%= f.label :description, "Описание" %><br />
    <%= f.text_area :description, :size => '35x5' %>
  </div>
  <div class="field">
    <%= f.label :metro, "Ближайшая" %><br />
    <%= select("place", "metro", Place::METRO, {:prompt => 'станция метро'}) %>
  </div>  
  <div class="field">
    <%= f.label :size, "Площадь помещения" %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :num_rooms, "Количество комнат" %><br />
    <%= f.text_field :num_rooms %>
  </div>
  <div class="field">
    <%= f.label :price, "Стоимость" %><br />
    <%= f.text_field :price %>
  </div>
  
  
  <div class="actions">
    <%= f.submit "НИААРРРРР!!! Поехали" %>
  </div>
<% end %>
