<br />
<span style="font-size:30px; font-weight:bold;">Поиск</span>
<%=form_tag("/", :name => "search", :method => :get) do %>
  <%=submit_tag "Подобрать"%>
<% end %>
<br />
<%= link_to "Данные таблицей", :controller => :places, :action => :as_table%>
<%= link_to 'Добавить новое', new_place_path %>
<%= gmaps("markers" => {"data" => @gmaps_places}) %> 
